<div class="mx-auto max-w-7xl lg:px-8">
  <div class="header">
    <div class="title">
      <h2>Welkom</h2>
      <p>Database beheer</p>
    </div>
    <div class="new-vm-button">
      <button
        class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
        Nieuwe DB
      </button>
    </div>
  </div>

  <div class="relative overflow-x-auto sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 light:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 light:bg-gray-700 light:text-gray-400">
      <tr>
        <th class="px-6 py-3" scope="col">
          name
        </th>
        <th class="px-6 py-3" scope="col">
          id
        </th>
        <th class="px-6 py-3" scope="col">
          username
        </th>
        <th class="px-6 py-3" scope="col">
          project id
        </th>
        <th class="px-6 py-3" scope="col">
          connection string
        </th>
        <th class="px-6 py-3" scope="col">
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let db of databaseList" [routerLink]="'settings/' + db.id"
          class="bg-white border-b light:bg-gray-800 light:border-gray-700 hover:bg-gray-50 light:hover:bg-gray-600 cursor-pointer">
        <th class="px-6 py-4 font-medium text-gray-900 light:text-white whitespace-nowrap align-middle capitalize"
            scope="row"> {{db.databaseName}} <span [style.color]="getStatusColor(db.status)"
                                                   class="text-2xl px-3 font-black justify-self-end">•</span>
        </th>
                <td class="px-6 py-4">
                  {{db.id}}
                </td>
                <td class="px-6 py-4">
                  {{db.username}}
                </td>
                <td class="px-6 py-4">
                  {{db.projectId}}
                </td>
                <td class="px-6 py-4">
                  {{db.connectionString}}
                </td>
        <td class="px-6 py-4">
          <div class="buttons flex">
            <span class="material-symbols-outlined">stop_circle</span>
            <span class="material-symbols-outlined">pause_circle</span>
            <span class="material-symbols-outlined">not_started</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
