<div class="mx-auto max-w-7xl lg:px-8">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <a
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"  [routerLink]="'/billing'">
      <span class="flex flex-col material-symbols-outlined text-6xl">payments</span>
      <span class="flex flex-col padding p-2">Billing</span>
    </a>
    <a
      [routerLink]="['messaging']"
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <span class="flex flex-col material-symbols-outlined text-6xl">sms</span>
      <span class="flex flex-col padding p-2">Messaging</span>
    </a>
    <a
      [routerLink]="['postgres']"
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <span class="flex flex-col material-symbols-outlined text-6xl">database</span>
      <span class="flex flex-col padding p-2">Postgres</span>
    </a>
    <a
      [routerLink]="['s3']"
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <span class="flex flex-col material-symbols-outlined text-6xl">inventory_2</span>
      <span class="flex flex-col padding p-2">S3</span>
    </a>
    <a href="/dashboard/vps"
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <span class="flex flex-col material-symbols-outlined text-6xl">dns</span>
      <span class="flex flex-col padding p-2">VPS</span>
    </a>
    <a
      [routerLink]="['serverless']"
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <span class="flex flex-col material-symbols-outlined text-6xl">function</span>
      <span class="flex flex-col padding p-2">Serverless</span>
    </a>
    <a
      class="aspect-square flex flex-col justify-center items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
      <span class="flex flex-col material-symbols-outlined text -6xl">person</span>
      <span class="flex flex-col padding p-2">Account</span>
    </a>
  </div>
</div>
