<div class="mx-auto max-w-7xl lg:px-8">
  <div class="form-container">
    <div class="instance-name">
      <h2 class="text-lg font-medium text-gray-900">Database UUID</h2>
      <div class="flex flex-row w-fit gap-x-3 items-baseline">
        <div class="gap-x-1 bg-indigo-100 py-1 px-2 rounded-md flex flex-row">
          <p class="text-gray-600 tracking-wider">{{db.id}}</p>
          <span
            class="material-symbols-outlined text-gray-600 scale-75 hover:text-gray-800 cursor-pointer">content_copy</span>
        </div>
      </div>
      <h2 class="text-lg font-medium text-gray-900">Username</h2>
      <div class="flex flex-row w-fit gap-x-3 items-baseline">
        <div class="gap-x-1 bg-indigo-100 py-1 px-2 rounded-md flex flex-row">
          <p class="text-gray-600 tracking-wider">{{db.username}}</p>
          <span
            class="material-symbols-outlined text-gray-600 scale-75 hover:text-gray-800 cursor-pointer">content_copy</span>
        </div>
      </div>
      <h2 class="text-lg font-medium text-gray-900">Password</h2>
      <div class="flex flex-row w-fit gap-x-3 items-baseline">
        <div class="gap-x-1 bg-indigo-100 py-1 px-2 rounded-md flex flex-row">
          <p class="text-gray-600 tracking-wider">{{db.password}}</p>
          <span
            class="material-symbols-outlined text-gray-600 scale-75 hover:text-gray-800 cursor-pointer">visibility</span>
        </div>
      </div>
      <h2 class="text-lg font-medium text-gray-900">Connection String</h2>
      <div class="flex flex-row w-fit gap-x-3 items-baseline">
        <div class="gap-x-1 bg-indigo-100 py-1 px-2 rounded-md flex flex-row">
          <p class="text-gray-600 tracking-wider">{{db.connectionString}}</p>
          <span
            class="material-symbols-outlined text-gray-600 scale-75 hover:text-gray-800 cursor-pointer">content_copy</span>
        </div>
      </div>
      <button
        class="bg-indigo-600 w-fit hover:bg-blue-700 text-white font-bold py-4 px-8 rounded flex flex-row capitalize">
        Save data
        <span class="material-symbols-outlined ml-2">save</span>
      </button>
    </div>
  </div>
</div>
